@font-face {
  font-family: 'ApercuPro-Medium';
  src: local('Temidayo'), url(./fonts/ApercuPro/ApercuPro-Medium.ttf) format('truetype');
}
@font-face{
  font-family: 'ApercuPro-Regular';
  src: local('Temidayo'), url(./fonts/ApercuPro/ApercuPro-Regular.ttf) format('truetype');
}
@font-face{
  font-family: 'ApercuPro-Medium';
  src: local('Temidayo'), url(./fonts/ApercuPro/ApercuPro-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'ApercuPro-Regular' !important;
 
}

